.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.idea/
.DS_Store
projects/*/data/train*
projects/*/data/t10k*
projects/*/data/DatasetAlphabet/
projects/*/data/my_open4s/
projects/*/models/my_open4s/
*.ubyte
*.npy
*.gz
